In [1]:
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy_utils import database_exists, create_database
import pymysql
pymysql.install_as_MySQLdb()
from urllib.parse import quote_plus as urlquote

username = 'root' 
password = 'root'

connection_str = "mysql+pymysql://root:root@localhost/movies_db"

In [ ]:
engine = create_engine(connection_str)

In [ ]:
# Check if the database exists. If not, create it.
if database_exists(connection_str) == False:
  create_database(connection_str)
else:
  print('The database already exists')

In [2]:
import pandas as pd
df = pd.read_csv('Data/tmdb_results_combined.csv.gz')
df.head()

,imdb_id,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,original_language,original_title,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,certification
0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,tt0113026,0.0,/vMFs7nw6P0bIV1jDsQpxAieAVnH.jpg,NaN,10000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10402, '...",NaN,62127.0,en,The Fantasticks,...,0.0,86.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Try to remember the first time magic happened,The Fantasticks,0.0,5.500,22.0,NaN
2,tt0113092,0.0,NaN,NaN,0.0,"[{'id': 878, 'name': 'Science Fiction'}]",NaN,110977.0,en,For the Cause,...,0.0,100.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,The ultimate showdown on a forbidden planet.,For the Cause,0.0,5.100,8.0,NaN
3,tt0116391,0.0,NaN,NaN,0.0,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",NaN,442869.0,hi,Gang,...,0.0,152.0,"[{'english_name': 'Hindi', 'iso_639_1': 'hi', ...",Released,NaN,Gang,0.0,4.000,1.0,NaN
4,tt0118694,0.0,/n4GJFGzsc7NinI1VeGDXIcQjtU2.jpg,NaN,150000.0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,843.0,cn,花樣年華,...,12854953.0,99.0,"[{'english_name': 'Cantonese', 'iso_639_1': 'c...",Released,"Feel the heat, keep the feeling burning, let t...",In the Mood for Love,0.0,8.114,2188.0,PG

In [ ]:
df.rename(columns = {'imdb_id':'tconst'}, inplace = True)

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2567 entries, 0 to 2566
Data columns (total 26 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   imdb_id                2567 non-null   object
 1   adult                  2565 non-null   float64
 2   backdrop_path          1394 non-null   object
 3   belongs_to_collection  206 non-null    object
 4   budget                 2565 non-null   float64
 5   genres                 2565 non-null   object
 6   homepage               173 non-null    object
 7   id                     2565 non-null   float64
 8   original_language      2565 non-null   object
 9   original_title         2565 non-null   object
 10  overview               2514 non-null   object
 11  popularity             2565 non-null   float64
 12  poster_path            2308 non-null   object
 13  production_companies   2565 non-null   object
 14  production_countries   2565 non-null   object
 15  release_date           2547 non-null   object
 16  revenue                2565 non-null   float64
 17  runtime                2565 non-null   float64
 18  spoken_languages       2565 non-null   object
 19  status                 2565 non-null   object
 20  tagline                1099 non-null   object
 21  title                  2565 non-null   object
 22  video                  2565 non-null   float64
 23  vote_average           2565 non-null   float64
 24  vote_count             2565 non-null   float64
 25  certification          816 non-null    object
dtypes: float64(9), object(17)
memory usage: 521.5+ KB

In [ ]:
df['genres'].value_counts()

In [ ]:
df['id'].value_counts()

In [ ]:
df.rename(columns = {'id':'movie_id'}, inplace = True)

In [ ]:
df.info()

In [ ]:
test_genres = df.loc[3, 'genres']
print(type(test_genres))
test_genres

In [ ]:
test_genres = test_genres.replace("'", '"')
test_genres

In [ ]:
#test_genres = test_genres.replace("'", '"').replace("{", "").replace("}", "").replace("[", "{").replace("]", "}")
#test_genres

In [ ]:
#test_genres = test_genres.replace('"id":', "").replace('"name":', "")
#test_genres

In [ ]:
import json

In [ ]:
# https://stackoverflow.com/questions/13938183/python-json-string-to-list-of-dictionaries-getting-error-when-iterating
#jdata = json.loads(test_genres)
#for d in jdata:
#    for key, value in d.items():
#        print(key, value)
#print(type(test_genres))
#test_genres

In [ ]:
pd.json_normalize(test_genres)

# FIX ABOVE

In [ ]:
df.to_sql('movies', engine, if_exists = 'replace')

In [ ]:
q = """SELECT * FROM movies LIMIT 5;"""
pd.read_sql(q, engine)

In [ ]:
q = """SHOW TABLES;"""
pd.read_sql(q, engine)

In [ ]:
q = '''
CREATE TABLE title_genres
(tconst VARCHAR(45),
genre_id VARCHAR(45));'''
pd.read_sql(q,engine)