In [1]:
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy_utils import database_exists, create_database
import pymysql
import json
pymysql.install_as_MySQLdb()
from urllib.parse import quote_plus as urlquote

username = 'root' 
password = 'root'

connection_str = "mysql+pymysql://root:root@localhost/title_basics_db"

In [2]:
engine = create_engine(connection_str)

In [3]:
# Check if the database exists. If not, create it.
if database_exists(connection_str) == False:
  create_database(connection_str)
else:
  print('The database already exists')

In [4]:
basics_df = pd.read_csv('Data/title_basics.csv.gz')
basics_df.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance"
1,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020.0,NaN,70,Drama
2,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018.0,NaN,122,Drama
3,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005.0,NaN,100,"Comedy,Horror,Sci-Fi"
4,tt0096056,movie,Crime and Punishment,Crime and Punishment,0,2002.0,NaN,126,Drama

In [5]:
basics_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89149 entries, 0 to 89148
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   tconst          89149 non-null  object
 1   titleType       89149 non-null  object
 2   primaryTitle    89149 non-null  object
 3   originalTitle   89149 non-null  object
 4   isAdult         89149 non-null  int64
 5   startYear       86611 non-null  float64
 6   endYear         0 non-null      float64
 7   runtimeMinutes  89149 non-null  int64
 8   genres          89149 non-null  object
dtypes: float64(2), int64(2), object(5)
memory usage: 6.1+ MB

In [6]:
basics_df['genres'].value_counts()

Drama                        17576
Comedy                        7315
Horror                        4263
Comedy,Drama                  4053
Drama,Romance                 2631
                             ...
Horror,Music,Mystery             1
Action,Crime,Musical             1
Comedy,History,Mystery           1
Animation,Biography,Sport        1
Biography,Fantasy,Musical        1
Name: genres, Length: 870, dtype: int64

In [7]:
basics_df['genres_split'] = basics_df['genres'].str.split(',')
basics_df

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,genres_split
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance","[Comedy, Fantasy, Romance]"
1,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020.0,NaN,70,Drama,[Drama]
2,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018.0,NaN,122,Drama,[Drama]
3,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005.0,NaN,100,"Comedy,Horror,Sci-Fi","[Comedy, Horror, Sci-Fi]"
4,tt0096056,movie,Crime and Punishment,Crime and Punishment,0,2002.0,NaN,126,Drama,[Drama]
...,...,...,...,...,...,...,...,...,...,...
89144,tt9914942,movie,Life Without Sara Amat,La vida sense la Sara Amat,0,2019.0,NaN,74,Drama,[Drama]
89145,tt9915872,movie,The Last White Witch,My Girlfriend is a Wizard,0,2019.0,NaN,97,"Comedy,Drama,Fantasy","[Comedy, Drama, Fantasy]"
89146,tt9916170,movie,The Rehearsal,O Ensaio,0,2019.0,NaN,51,Drama,[Drama]
89147,tt9916190,movie,Safeguard,Safeguard,0,2020.0,NaN,95,"Action,Adventure,Thriller","[Action, Adventure, Thriller]"
89148,tt9916362,movie,Coven,Akelarre,0,2020.0,NaN,92,"Drama,History","[Drama, History]"

In [8]:
exploded_genres = basics_df.explode('genres_split')
exploded_genres

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,genres_split
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance",Comedy
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance",Fantasy
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance",Romance
1,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020.0,NaN,70,Drama,Drama
2,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018.0,NaN,122,Drama,Drama
...,...,...,...,...,...,...,...,...,...,...
89147,tt9916190,movie,Safeguard,Safeguard,0,2020.0,NaN,95,"Action,Adventure,Thriller",Action
89147,tt9916190,movie,Safeguard,Safeguard,0,2020.0,NaN,95,"Action,Adventure,Thriller",Adventure
89147,tt9916190,movie,Safeguard,Safeguard,0,2020.0,NaN,95,"Action,Adventure,Thriller",Thriller
89148,tt9916362,movie,Coven,Akelarre,0,2020.0,NaN,92,"Drama,History",Drama
89148,tt9916362,movie,Coven,Akelarre,0,2020.0,NaN,92,"Drama,History",History

In [9]:
genres_split = basics_df['genres'].str.split(",")

unique_genres = genres_split.explode().unique()
unique_genres

array(['Comedy', 'Fantasy', 'Romance', 'Drama', 'Horror', 'Sci-Fi',
       'Biography', 'Mystery', 'Musical', 'Action', 'Adventure', 'Crime',
       'Thriller', 'Music', 'Animation', 'Family', 'History', 'War',
       'Sport', 'Western', 'Adult', 'Short', 'Reality-TV', 'News',
       'Talk-Show', 'Game-Show'], dtype=object)

In [10]:
unique_genres = sorted(exploded_genres['genres_split'].unique())

In [11]:
title_genres = exploded_genres[['tconst', 'genres_split']].copy()
title_genres

          tconst genres_split
0      tt0035423       Comedy
0      tt0035423      Fantasy
0      tt0035423      Romance
1      tt0062336        Drama
2      tt0069049        Drama
...          ...          ...
89147  tt9916190       Action
89147  tt9916190    Adventure
89147  tt9916190     Thriller
89148  tt9916362        Drama
89148  tt9916362      History

[165797 rows x 2 columns]

In [12]:
## Making the genre mapper dictionary
genre_ints = range(len(unique_genres))
genre_map = dict(zip(unique_genres, genre_ints))
genre_map

{'Action': 0,
 'Adult': 1,
 'Adventure': 2,
 'Animation': 3,
 'Biography': 4,
 'Comedy': 5,
 'Crime': 6,
 'Drama': 7,
 'Family': 8,
 'Fantasy': 9,
 'Game-Show': 10,
 'History': 11,
 'Horror': 12,
 'Music': 13,
 'Musical': 14,
 'Mystery': 15,
 'News': 16,
 'Reality-TV': 17,
 'Romance': 18,
 'Sci-Fi': 19,
 'Short': 20,
 'Sport': 21,
 'Talk-Show': 22,
 'Thriller': 23,
 'War': 24,
 'Western': 25}

In [13]:
basics_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89149 entries, 0 to 89148
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   tconst          89149 non-null  object
 1   titleType       89149 non-null  object
 2   primaryTitle    89149 non-null  object
 3   originalTitle   89149 non-null  object
 4   isAdult         89149 non-null  int64
 5   startYear       86611 non-null  float64
 6   endYear         0 non-null      float64
 7   runtimeMinutes  89149 non-null  int64
 8   genres          89149 non-null  object
 9   genres_split    89149 non-null  object
dtypes: float64(2), int64(2), object(6)
memory usage: 6.8+ MB

In [14]:
## make new integer genre_id and drop string genres
title_genres['genre_id'] = title_genres['genres_split'].map(genre_map)
title_genres = title_genres.drop(columns='genres_split')

In [15]:
title_genres

          tconst  genre_id
0      tt0035423         5
0      tt0035423         9
0      tt0035423        18
1      tt0062336         7
2      tt0069049         7
...          ...       ...
89147  tt9916190         0
89147  tt9916190         2
89147  tt9916190        23
89148  tt9916362         7
89148  tt9916362        11

[165797 rows x 2 columns]

In [16]:
## Manaully make a dataframe with the named cols from the .keyd and .values
genre_lookup = pd.DataFrame({'Genre Name': genre_map.keys(),
                            'Genre_ID': genre_map.values()})

In [17]:
genre_lookup

    Genre Name  Genre_ID
0       Action         0
1        Adult         1
2    Adventure         2
3    Animation         3
4    Biography         4
5       Comedy         5
6        Crime         6
7        Drama         7
8       Family         8
9      Fantasy         9
10   Game-Show        10
11     History        11
12      Horror        12
13       Music        13
14     Musical        14
15     Mystery        15
16        News        16
17  Reality-TV        17
18     Romance        18
19      Sci-Fi        19
20       Short        20
21       Sport        21
22   Talk-Show        22
23    Thriller        23
24         War        24
25     Western        25

# New heading

In [18]:
basics_df.dtypes

tconst             object
titleType          object
primaryTitle       object
originalTitle      object
isAdult             int64
startYear         float64
endYear           float64
runtimeMinutes      int64
genres             object
genres_split       object
dtype: object

In [19]:
basics_df.drop(columns=['originalTitle', 'isAdult', 'titleType', 'genres', 'genres_split'], inplace = True)

In [20]:
basics_df

,tconst,primaryTitle,startYear,endYear,runtimeMinutes
0,tt0035423,Kate & Leopold,2001.0,NaN,118
1,tt0062336,The Tango of the Widower and Its Distorting Mi...,2020.0,NaN,70
2,tt0069049,The Other Side of the Wind,2018.0,NaN,122
3,tt0088751,The Naked Monster,2005.0,NaN,100
4,tt0096056,Crime and Punishment,2002.0,NaN,126
...,...,...,...,...,...
89144,tt9914942,Life Without Sara Amat,2019.0,NaN,74
89145,tt9915872,The Last White Witch,2019.0,NaN,97
89146,tt9916170,The Rehearsal,2019.0,NaN,51
89147,tt9916190,Safeguard,2020.0,NaN,95
89148,tt9916362,Coven,2020.0,NaN,92

In [21]:
## Example
from sqlalchemy.types import *
## Calculate max string lengths for object columns
key_len = basics_df['tconst'].fillna('').map(len).max()
title_len = basics_df['primaryTitle'].fillna('').map(len).max()
## Create a schema dictonary using Sqlalchemy datatype objects
basics_df_schema = {
    "tconst": String(key_len+1), 
    "primaryTitle": Text(title_len+1),
    'startYear':Float(),
    'endYear':Float(),
    'runtimeMinutes':Integer()}

In [22]:
# Save to sql with dtype and index=False
basics_df.to_sql('title_basics',engine,dtype=basics_df_schema,if_exists='replace',index=False)

89149

In [23]:
engine.execute('ALTER TABLE title_basics ADD PRIMARY KEY (`tconst`);')

# Testing Queues

In [24]:
q = """SELECT * FROM title_basics LIMIT 5;"""
pd.read_sql(q, engine)

,tconst,primaryTitle,startYear,endYear,runtimeMinutes
0,tt0035423,Kate & Leopold,2001.0,None,118
1,tt0062336,The Tango of the Widower and Its Distorting Mi...,2020.0,None,70
2,tt0069049,The Other Side of the Wind,2018.0,None,122
3,tt0088751,The Naked Monster,2005.0,None,100
4,tt0096056,Crime and Punishment,2002.0,None,126

In [25]:
q = """SHOW TABLES;"""
pd.read_sql(q, engine)

  Tables_in_title_basics_db
0              title_basics